name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache sbt
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: olafurpg/setup-scala@v10
        with:
          java-version: 1.11.0
      - run: sbt test
